/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*green/white mode color themes*/
html[data-theme=white] {
  --bg: #ffffff;
  --panel-bg: #e2e2e2;
  --text: #343a40;
  --header: #449D2E;
  --btn: #449D2E;
}

html[data-theme=green] {
  --bg: #449D2E;
  --panel-bg: #105300;
  --text: #ffffff;
  --header: #ffffff;
  --btn: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: var(--panel-bg);
  margin: 5rem;
  padding: 5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

/*FONT RULES*/
/*Headers*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Marcellus", serif;
  color: var(--header);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

/*Paragraphs*/
p, a, .btn, div {
  font-size: 1.5rem;
}

/*Buttons*/
:root {
    --hue-neutral: #ffffff;
    --hue-wrong: red;
    --hue-correct: #449D2E;
}
.btn {
    border: 2px solid var(--btn);
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #343a40;
    margin: 0.5rem;
}

/*QUIZ*/
#q {
    --hue: var(--hue-neutral);
    background-color: var(--hue);
    display: flex;
    justify-self: center;
    justify-content: center;
    color: #343a40;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: bolder;
}
#q.correct {
    --hue: var(--hue-correct);
    color: #343a40;
}
#q.wrong {
    --hue: var(--hue-wrong);
    color: #ffffff;
}
.quiz {
    display: flex;
    justify-content: center;
}
.btn-grid {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.btn-grid button {
    padding: 1rem 0;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls button {
    padding: 2rem;
    font-weight: bold;
    font-size: 2rem;
}
#answer-buttons .btn:hover,
 .controls .btn:hover{
    border-color: black;
}
#answer-buttons .btn.correct{
    --hue: var(--hue-correct);
    background-color: var(--hue);
    color: #343a40;
    font-weight: bolder;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}
#answer-buttons .btn.wrong{
    --hue: var(--hue-wrong);
    background-color: var(--hue);
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.hide {
    display: none;
}

/*GREEN TOGGLE*/
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: #343a40;
  float: right;
  border-radius: 100px;
  position: relative;
  top: 0.5rem;
  right: 1rem;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--header);
  border-radius: 50px;
  transition: 0.3s;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

/*WINKING PADDY*/
.paddy {
  max-width: 500px;
}

#paddy {
  max-width: 500px;
}

/*FORM*/
form #name,
form #email {
  min-width: 9rem;
  max-width: 30rem;
  max-height: 3rem;
}
form #question {
  min-width: 30rem;
  max-width: 60rem;
  min-height: 5rem;
}
form input[type=submit],
form input[type=reset] {
  min-width: 4rem;
  max-width: 10rem;
}