/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
  /* border: 1px solid pink; */
}

html {
  font-size: 62.5%;
}

/*green/white mode color themes*/
html[data-theme=white] {
  --bg: #ffffff;
  --panel-bg: #e2e2e2;
  --text: #343a40;
  --header: #449D2E;
  --btn: #449D2E;
  --hover: #ffd500;
}

html[data-theme=green] {
  --bg: #449D2E;
  --panel-bg: #105300;
  --text: #ffffff;
  --header: #ffffff;
  --btn: #449D2E;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

.container {
    background-color: var(--bg);
    padding: 2rem;
    border-radius: 15px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--header);
}

.container.full-width{
    width: 100%;
    max-width: 100%;
}

.row {
    max-width: 95%;
    margin: 0 auto;
}

/*FONT RULES*/
/*Headers*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Marcellus", serif;
  color: var(--header);
  text-align: center;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

/*Paragraphs*/
p, a, .btn, div {
  font-size: 1.5rem;
}

/* navigation bar */

.logo-and-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    animation: drop 2s ease-in-out;
}
.logo h2 {
    font-size: 4.5rem;
    letter-spacing: 3px;
    margin: 0;
    color: var(--bg);
}
#hat {
        width: 45px;
        height: 45px;
    }
.links {
    display: flex;
}

#menu {
    background-color:var(--header);
    padding: 2rem 1rem; 
    margin-top: 0;
}

#menu ul {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    animation: fade 2s ease-in-out;
}

#menu li {
   margin: 2px 5px;
  padding: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2rem;
}

#menu a {
   text-decoration: none;
   color: var(--bg);
   font-weight: 600;
  font-size: 2rem;
}

#menu a:hover{
  border-bottom: 2px solid var(--bg);
}

@keyframes drop {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/*Buttons*/
:root {
    --hue-neutral: #ffffff;
    --hue-wrong: rgb(236, 39, 39);
    --hue-correct: #449D2E;
}
.btn {
    border: 2px solid var(--btn);
    border-radius: 0.8rem;
    background-color: #ffffff;
    color: #343a40;
    margin: 0.5rem;
}

.container-box {
    margin: 5rem;
    padding: 5rem;
    margin: 2rem auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*QUIZ*/
#q {
    --hue: var(--hue-neutral);
    background-color: var(--hue);
    display: flex;
    justify-self: center;
    justify-content: center;
    color: #343a40;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
}
#q.correct {
    --hue: var(--hue-correct);
    color: #ffffff;
}
#q.wrong {
    --hue: var(--hue-wrong);
    color: #ffffff;
}
.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-grid {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.btn-grid button {
    padding: 1rem 0;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls button {
    padding: 2rem;
    font-weight: bold;
    font-size: 2rem;
    min-width: 150px;
}
#answer-buttons {
    margin: 0.5rem auto;
}
#answer-buttons .btn:hover,
 .controls .btn:hover{
    border-color: var(--hover);
}
#answer-buttons .btn.correct{
    --hue: var(--hue-correct);
    background-color: var(--hue);
    border:2px solid #ffffff;
    color: #ffffff;
    font-weight: bolder;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}
button .btn.correct {
    border:2px solid #ffffff;
}
#answer-buttons .btn.wrong{
    --hue: var(--hue-wrong);
    background-color: var(--hue);
    border: none;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.hide {
    display: none;
}


/*GREEN TOGGLE*/
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: #acacac;
  float: right;
  border-radius: 100px;
  position: relative;
  top: 0.5rem;
  right: 1rem;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--header);
  border-radius: 50px;
  transition: 0.3s;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

/*WINKING PADDY*/
.paddy {
    max-width: 560px;
    animation: left 2s ease-in-out;
}

#paddy {
  max-width: 90%;
}

@keyframes left {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}

/*CONTENT*/
#content {
    animation: right 2s ease-in-out;
}

@keyframes right {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}

/*FORM*/
form .form-control{
    font-size: 1.5rem;
    border: 2px solid var(--btn);
    border-radius: 1rem;
}
form #question {
  min-height: 8rem;
}
form .btn{
    width: auto;
}

.hide {
    display: none;
}

#clockdiv {
    display: flex;
}

input textarea {
    border-radius: 1rem;
}

.form-submit {
    display: flex;
    justify-content: center;
}

/*FOOTER*/
footer {
  background-color: var(--bg);
  color: #ffffff;
  height: 100px;
  padding: 5px;
}

.social-links,
.list-inline {
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
}

.social-links li a i {
  width: 48px;
  height: 48px;
  padding: 15px 0px;
  border-radius: 50%;
  font-size: 26px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  background: #449D2E;
  border: 3px solid var(--header);
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #fafafa;
  color: #449D2E;
}

/*MEDIA STYLES*/

/*md*/
@media (min-width: 992px) {
    .logo h2 {
    font-size: 6rem;
    }
    #hat {
        width: 60px;
        height: 60px;
    }
    /*WINKING PADDY*/
    .paddy {
    max-width: 1000px;
    animation: left 2s ease-in-out;
    }

    #paddy {
    max-width: 100%;
    }
    .container {
    padding: 5rem;
    }
    form .form-control{
    font-size: 2rem;
    }
    p, .btn, span {
        font-size: 2rem;
    }
}
}

